# dataset
dataset: "sky"
data_path: "/media/hdd/yfliu/datasets/sky_timelapse/sky_train/"
pretrained_model_path: /home/yaofang/ModelZoo/Latte

# save and load
results_dir: "/media/hdd/yfliu/Latte_backup/results_noise_video"
pretrained: 
# pretrained: ./results_noise_dual/2024-05-08_11-43-06/000-Latte-B-2-F16S1-echonet/checkpoints/0220000.pt


# model config: 
# model: LatteVIDEO-XL/2
model: LatteVIDEO-B/2
video_length: 16
num_frames: 16 # TODO Ablation4 for way_4
image_size: 256 # choices=[256, 512]
num_sampling_steps: 250
frame_interval: 1
fixed_spatial: False
attention_bias: True
# learn_sigma: True
learn_sigma: False
learn_sigma_noise: False
# condition_noise: True # whether condition on noiser or not
condition_noise: False
extras: 1 # [1, 2] 1 unconditional generation, 2 class-conditional generation

# new for model_noise
max_period: 3

# train config:
load_from_ceph: False # important
learning_rate: 1e-4
# ckpt_every: 20000
# ckpt_every: 10000
ckpt_every: 5000
clip_max_norm: 0.1
start_clip_iter: 500000
# local_batch_size: 2 # importants
# local_batch_size: 4 # important s
local_batch_size: 6 # important
# local_batch_size: 3 # important
# local_batch_size: 8 # important
max_train_steps: 2000002
global_seed: 3407
num_workers: 8
log_every: 50
lr_warmup_steps: 0
resume_from_checkpoint:
gradient_accumulation_steps: 1 # TODO
num_classes:

# low VRAM and speed up training TODO
use_compile: False
mixed_precision: False
enable_xformers_memory_efficient_attention: False
gradient_checkpointing: False